.DS_Store
*.o
*.DSYM
test-sggc*/test-sggc?
test-set/test-set
test-sggc*/o
test-set/o
interp/interp
interp/interp-db
interp/interp-no-offset
interp/interp-no-set-static
interp/interp-no-max-segments
interp/interp-no-segment-at-a-time
interp/interp-no-builtins
interp/interp-alloc-small-kind
interp/o-e-i
interp/o-e-r
