.DS_Store
*.o
*.DSYM
test-sggc*/test-sggc?
test-set/test-set
test-sggc*/o
test-set/o
interp/interp
interp/interp-db
interp/interp-pg
interp/interp-no-offset
interp/interp-no-set-static
interp/interp-no-max-segments
interp/interp-no-segment-at-a-time
interp/interp-no-builtins
interp/interp-alloc-small-kind
interp/interp-alloc-small-kind-quickly
interp/interp-memset-quickly
interp/interp-seg-direct
interp/interp-seg-direct-no-max
interp/interp-binding-in-gen1
interp/interp-binding-in-gen2
interp/o-e-i
interp/o-e-r
